# Ambientes virtuais
.venv/
venv/
ENV/
env/

# Arquivos do Python
__pycache__/
*.py[cod]
*.pyo

# Logs e caches
*.log
*.sqlite3
.cache/
*.tmp

# VSCode
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos do pytest
.pytest_cache/

# Arquivos de pacotes
*.egg-info/
dist/
build/
